body{
    font-size: 20px;
}
#ifr{
    height: 900px;
    max-height: 90vh;
    width: 100%;
}

#selectBox{
    height: 100px;
    max-height: 90vh;
    width: auto;
}

#test{
    height: 100px;
    max-height: 90vh;
    width: auto;
}

#displayTimer{
    font-size: 38px;
    height: 100px;
    max-height: 90vh;
    width: 500px;
    max-width: 90vw;
    background-color: antiquewhite;
}

#visual{
    position: relative;

}